.formLayout {
    width: 100vw;
    font-size : 62.5%; 
    box-sizing: border-box;
}

.form-content {
    margin-top: 2rem;
    text-align: center;
}

.form-line {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.form-tagline {
    margin-top: 2rem;
    font-size: 1rem;
    color: #A9ABAD;
    line-height: 1.8rem;
}

.form-information {
    letter-spacing: 4px;
    margin-top: 2.5rem;
    font-size: .6rem;
    color: #A9ABAD;
}

.form {

    margin: 0 auto;
    margin-top: 3rem;
    width: 40%;

}
